@page "/fetchdata"

<PageTitle>Weather forecast</PageTitle>

@using Mosaic.FrontEnd.Data
@inject TileService tileService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <p><em>EXCEPTION</em> @errorMessage</p>
}
else if (tiles == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tile in tiles)
            {
                <tr>
                    <td>@tile.Id</td>
                    <td>@tile.Source</td>
                    <td>@tile.SourceData</td>
                </tr>
            }
        </tbody>
    </table>
}
<br />

@code {
    private Tile[]? tiles;
    private string? errorMessage = null;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            tiles = await tileService.GetAllTiles();
        }
        catch (Exception ex)
        {
            var e = ex;
            while(e!=null)
            {
                errorMessage += e.ToString() + "<br />";
                e = e.InnerException;
            }
        }
    }
}
