@page "/import"
@using Mosaic.FrontEnd.Data
@using Mosaic.TilesApi
@using Mosaic.TileSources.Flickr
@using Mosaic.TilesApi.Models
@using System.Collections.ObjectModel
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@inject TileService tileService
@inject ILogger<UploadTiles> Logger
@inject IConfiguration config;
@inject HttpClient httpClient;

<PageTitle>Tile Manager</PageTitle>
@if (!string.IsNullOrEmpty(message))
{
    <div>@message</div>
}
else
{
<h1>Import Flickr "interesting" feed</h1>
<button @onclick="ImportInteresting">Import</button>
}

@code {
    string? message;

    private async Task ImportInteresting()
    {
        string apiKey = config["flickr:apiKey"];
        var flickrClient = new FlickrClient(httpClient, apiKey);
        var data = await flickrClient.GetTodaysInteresting();
        foreach (var item in data)
        {
            var newTile = new TileCreateDto()
                {
                    Source = "flickr",
                    SourceData = JsonSerializer.Serialize(item),
                };
            var result = await tileService.AddNewTile(newTile);
            message = message + $"\nSuccessfully imported tile id {result.Id}";
        }
    }
}
