@using Mosaic.FrontEnd.Client.Data
@inject AppVersionInfo version

<div>
<div>Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</div>
<div>    <a href="https://github.com/negativeeddy/mosaic-microservices/tree/@version.GitHash">Github @version.ShortGitHash</a></div>
</div>
